.resume-subheader{
	text-align: left;
}

.section-element-header {
	text-align: left;
	margin-left: 20px;
	width: 100%;
}

.section-element-details {
	text-align: left;
	padding-left: 60px;
}

.section-element-dates {
	text-align: right;
}

.section-element-comments {
	text-align: left;
	padding-left: 20px;
}
