.project-subheader{
	text-align: left;
}

.section-element-header {
	text-align: left;
	margin-left: 20px;
	width: 100%;
}

.project-subleft-column {
	text-align: left;
	padding-left: 60px;
}

.project-right-column {
	text-align: right;
}

.project-screenshot {
	cursor: pointer;
}

.project-edit {
	display:flex;
}
